.grid-main {
  width: 150px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
}

.grid-main-head {
  width: 150px;
}

.grid-main-body {
  height: 100px;
  width: 150px;
}

.grid-main-head-row-cell,
.grid-main-body-row-cell {
  border: 1px solid black;
  width: 100px;
  min-width: 100px;
  height: 20px;
}

.grid-left {
  border-bottom: 1px solid black;
}

.grid-left-body {
  height: 100px;
}

.grid-left-head-row-cell,
.grid-left-body-row-cell {
  border: 1px solid black;
  width: 100px;
  min-width: 100px;
  height: 20px;
}

.grid-right {
  border-bottom: 1px solid black;
}

.grid-right-body {
  height: 100px;
}

.grid-right-head-row-cell,
.grid-right-body-row-cell {
  border: 1px solid black;
  width: 100px;
  min-width: 100px;
  height: 20px;
}
