<table class="grid-main">
    <thead *ngIf="data.headers && data.headers.cells" class="grid-main-head" #heads>
        <tr [class]="'grid-main-head-row ' + (data.headers.style || '')">
            <th *ngFor="let cell of data.headers.cells" [class]="'grid-main-head-row-cell ' + (cell.style || '')">
            </th>
        </tr>
    </thead>
    <tbody class="grid-main-body" #container>
        <tr *ngFor="let row of data.rows" [class]="'grid-main-body-row ' + (row.style || '')">
            <td *ngFor="let cell of row.cells" [class]="'grid-main-body-row-cell ' + (cell.style || '')">
            </td>
        </tr>
    </tbody>
</table>