<table class="grid">
    <thead v-if="data.headers && data.headers.cells" class="grid-head">
        <tr :class="'grid-head-row ' + (data.headers.style || '')">
            <th v-for="cell in data.headers.cells" :class="'grid-head-row-cell ' + (cell.style || '')">
                <template v-if="cell.component">
                    <component :is="cell.component" :data="cell.value">
                    </component>
                </template>
                <template v-else>{{cell.value}}</template>
            </th>
        </tr>
    </thead>
    <tbody class="grid-body">
        <tr v-for="row in data.rows" :class="'grid-body-row ' + (row.style || '')">
            <td v-for="cell in row.cells" :class="'grid-body-row-cell ' + (cell.style || '')">
                <template v-if="cell.component">
                    <component :is="cell.component" :data="cell.value">
                    </component>
                </template>
                <template v-else>{{cell.value}}</template>
            </td>
        </tr>
    </tbody>
</table>