<table>
    <thead v-if="data.headers && data.headers.cells">
        <tr class="head-row">
            <th v-for="cell in data.headers.cells">
                <template v-if="cell.component">
                    <component :is='cell.component' :data='cell.value'>
                    </component>
                </template>
                <template v-else>{{cell.value}}</template>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="row in data.rows">
            <td v-for="cell in row.cells">
                <template v-if="cell.component">
                    <component :is='cell.component' :data='cell.value'>
                    </component>
                </template>
                <template v-else>{{cell.value}}</template>
            </td>
        </tr>
    </tbody>
</table>